@import './reset'
@import './fonts'

* {
	user-select: none;
}

a {
	text-decoration: none;
}

#toast-container {
	.toast-error {
		box-shadow none !important

		&:hover {
			box-shadow none !important
		}
	}

	.toast-warning {
		box-shadow none !important

		&:hover {
			box-shadow none !important
		}
	}
}
